.App {
  text-align: center;
}

.divLiteOff
{
 margin: auto;
 text-align: center;
 vertical-align: middle;
 line-height: 300px;
 width: 500px;
 height: 300px;
 background-color: black;
 color: white;
}

.divLiteON
{
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  width: 500px;
  height: 300px;
  background-color: yellow;
  color:black
 }
 

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1
{
  background-color: green;
}

.button2
{
  background-color: red;
}

.button3
{
  background-color: gray;
}
